@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits LayoutComponentBase
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamersClub Academy</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/9585aa935e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="logo.png" alt="GamersClub Logo">
            </div>
            <nav>
                <ul class="nav-links">
                    <li>
                        <i class="fa-solid fa-person-chalkboard"></i>
                        <a href="#" class="active">ACADEMY</a> 
                    </li>
                    <li class="with-line">
                        <i class="fa-solid fa-trophy"></i> 
                        <a href="#">CAMPEONATOS</a>
                    </li>
                    <li class="with-line">
                        <i class="fa-solid fa-shield-halved"></i>
                        <a href="#">Guildas</a>
                    </li>
                </ul>
            </nav>
            <div class="auth-buttons">
                <button href="#" class="loginbutton">ENTRAR</button>
            </div>
        </div>
    </header>
    <main>
        <aside>
            <img src="~\Image\Logos\Academy_Logo_P.png" alt="Logo da academia" width="100" height="200">
            <hr />


            <ul>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Aulas</a></li>
                <li><a href="#">Ajuda</a></li>
            </ul>

            <div class="courses">
                <hr />
                <h3>Cursos</h3>

                <ul class="course-list">
                    <li class="course-item">
                        <img src="curso1.jpg" alt="Curso 1">
                        <div class="course-info">
                            <h4>FELPS: THE SMOKE CRIMINAL</h4>
                            <span class="course-lesson-count">6 aulas</span>
                        </div>
                    </li>
                    <li class="course-item">
                        <img src="curso2.jpg" alt="Curso 2">
                        <div class="course-info">
                            <h4>Na Tela do PRO</h4>
                            <span class="course-lesson-count">7 aulas</span>
                        </div>
                    </li>
                    <li class="course-item">
                        <img src="curso3.jpg" alt="Curso 3">
                        <div class="course-info">
                            <h4>Fundamentos coletivos</h4>
                            <span class="course-lesson-count">12 aulas</span>
                        </div>
                    </li>
                </ul>
                <hr />
            </div>
        </aside>
        <section class="highlight">
            @Body
        </section>
    </main>
</body>
</html>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);


}
